@font-face {
    font-family: "crimson-regular";
    src: url("../font/crimson/TTF/Crimson-Roman.ttf");
}
@font-face {
    font-family: "crimson-bold";
    src: url("../font/crimson/TTF/Crimson-Semibold.ttf");
}
@font-face {
    font-family: "montserrat-semibold";
    src: url("../font/montserrat/Montserrat-SemiBold.otf");
}
@font-face{
    font-family: "montserrat-regular";
    src: url(../font/montserrat/Montserrat-Regular.otf)
}
@font-face {
    font-family: "montserrat-light";
    src: url("../font/montserrat/Montserrat-ExtraLight.otf");
}
@font-face {
    font-family: "montserrat-lightitalic";
    src: url("../font/montserrat/Montserrat-LightItalic.otf");
}
.crimson-r{
    font-family: "crimson-regular";
}
.crimson-b{
    font-family: "crimson-bold";
}
.montserrat-sb{
    font-family: "montserrat-semibold";
}
.montserrat-l{
    font-family: "montserrat-light";
}
.montserrat-r{
    font-family: "montserrat-regular";
}
.montserrat-li{
    font-family: "montserrat-lightitalic";
}
.verde-claro{
    color: #82887f;
}
.bg-gris{
    background-color: #d0d3d1;
}
.bg-verde-claro{
    background-color: #82887f; 
}
.logo{
    background-image: url(/assets/img/logo-metropoli-c.png) ;
    background-size: contain;
    height: 33px;
    width: 47px;
}
.navbar-mobile-open .logo{
    background-image: url(/assets/img/logo-metropoli.png) ;
    background-size: contain;
}
.menu-verde .nav-item .nav-link, .verde-principal, .btn.active.verde-principal {
    color: #616d5b;
}
.menu-verde .nav-item .nav-link::after, .bg-verde-principal{
    background: #616d5b;
}
nav{
    z-index: 5;
}
.navbar-expand-md .navbar-nav .nav-link {
    margin-right: var(--bs-navbar-nav-link-padding-x);
    margin-left: var(--bs-navbar-nav-link-padding-x);
    padding-left: 0;
    padding-right: 0;
}
.nav-link{
    margin: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    padding: 0;
    position: relative;
    text-transform: capitalize!important;
}
.nav-link::after{
    padding: 0;
    content: '';
    height: 0.5px;
    width:0;
    background: #fff;
    position: absolute;
    bottom: 6px;
    left: 0px;
    transition: 0.5s;
}
.nav-link:hover::after{
    width: 100%;
}
.active::after{
    width: 100%;
}
.carousel{
    z-index: 0;
}
footer{
    position: relative;
    z-index: 5;
    margin-top: 3rem;
}
.carousel-inner{
    height: 100vh;
}
#navbar-id{
    background-color: transparent!important;
    transition: all .2s;
}
.container-fluid{
    transition: all .2s;
}
.carousel-item img{
    object-fit: cover;
}
.footer-siguenos a{
    text-decoration: none;
}
.carousel-indicators [data-bs-target]{
    width: 8px;
    height: 8px;
    border-radius: 100%;
    margin-left: 7px;
    margin-right: 7px;
}
.texto-slide{
    position: absolute;
    color: white;
    top: 20%;
    left: 75vw;
    transform: translateX(-50%);
    text-align: right;
}
.menu-verde .border-bottom{
    border-bottom-color: #616d5b!important;
}
.raya, .raya-titulo{
    margin-right: calc(var(--bs-gutter-x) * .5);
    margin-left: calc(var(--bs-gutter-x) * .5);
    padding-left: 0;
    padding-right: 0;
}
.btn{
    --bs-btn-border-width: 0;
}
.menu-verde .container{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* apartado nosotros - */
.ver-todos{
    flex-direction: column;
}
.svg-ver-todos{
    margin: auto;
}
.text-ver-todos{
    color: darkgray;
    border-bottom: 2px solid darkgray;
    margin: auto;
}
.numeracion{
    width: 95px;
    position: relative;
    font-size: 5rem;
    padding-right: 40px;
    margin-right: 30px;
}
.numeracion::after{
    padding: 0;
    content: '';
    height: 4.5rem;
    width:2px;
    background: #616d5b;
    position: absolute;
    bottom: 25px;
    right: 0px;
}
/* apartado proyecto residencia */
.galeria-residencia{
    padding: 2px;
}
.img-galeria-residencia{
    object-fit: cover;
    width: 230px;
    height: 215px;
}
.filtro-img-slider{
    filter: brightness(0.30);
}
/* font size footer --- */
.footer-info p{
    font-size: 0.9rem;
}
.footer-direccion p{
    font-size: 0.9rem;
}
.footer-siguenos{
    font-size: 1.2rem;
}
.footer-empresa{
    font-size: 0.8rem;
}
.footer-derechos p, .footer-derechos small{
    font-size: 0.8rem;
}
/* end font size footer --- */
.menu-secciones .col{
    position: relative;
}
.menu-secciones .col::after{
    padding: 0;
    content: '';
    height: 0.5px;
    width:0;
    background: #606d5b;
    position: absolute;
    bottom: 10px;
    left: 0px;
    transition: 0.5s;
}
.menu-secciones .col:hover::after{
    width: 100%;
}
.menu-secciones .active::after{
    width: 100%;
}
.menu-secciones .col::before{
    padding: 0;
    content: '';
    height: 8px;
    width:0.5px;
    background: #e5e5e5;
    position: absolute;
    right: -10px;
    top:50%;
    transform: translateY(-50%);
    transition: 0.5s;
}
.menu-secciones .col:last-child::before{
    display: none;
}
.text-overlay{
    top: 15px;
    left: 30px;
}
/*imagenes nosotros -- */
.grayscale{
    filter: grayscale(100%);
}
.img-empleados{
    object-fit: cover;
    height: 100%;
}
/* Desktops and laptops ----------- */
@media only screen 
and (max-width : 768px) {
    /* Styles */
    #navbar-id.bg-dark.navbar-mobile-open{
        background-color: #606d5b!important;
        height: 100vh;
        z-index: 50;
    }
    .navbar>.container-fluid.navbar-container-mobile{
        height: 100%;
        align-items: flex-start;
    }
    .navbar-close-button{
        margin-top: 20vh;
    }
    footer{
        margin-top: 1rem;
    }
    .carousel-inner{
        height: 100vh;
    }
    .texto-slide{
        left: 50%;
    }
    .texto-slide br{
        display: inline;
    }
    .texto-slide .mobile-center{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .menu-secciones .active::after, .menu-secciones .col:hover::after, .menu-secciones .col::before{
        display: none;
    }
    .footer-info{
        order: 1;
    }
    .footer-info p{
        font-size: 0.9rem;
    }
    .footer-direccion{
        order: 2;
    }
    .footer-direccion p{
        font-size: 0.9rem;
        font-family: "montserrat-light";
    }
    .footer-siguenos{
        padding-top: 20px;
        margin-top: 10px;
        order: 0;
        font-size: 1.2rem;

    }
    .footer-empresa{
        order: 3;
        position: relative;
        font-size: 1rem;
    }
    .footer-derechos{
        order: 4;
    }
    .footer-derechos p, .footer-derechos small{
        font-size: 0.9rem;
        font-family: "montserrat-light";
        
    }
    .footer-empresa:after{
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 70%;
        height: 1px;
        background-color: #616d5b;
    }
    #navbar-id::after{
        content: "";
        position: absolute;
        display: block;
        width: calc(100% - 52px);
        height: 1px;
        background-color: white;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }
    .proyectos-titulo{
        justify-content: center!important;
    }
    .menu-secciones{
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
    }
    .navbar-mobile-open{
        position: fixed!important;
    }
    .navbar-mobile-open .navbar-toggler-icon{
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }
    .navbar-toggler:focus{
        box-shadow: unset;
    }
    .body-mobile-open{
        position: fixed;
    }
    .menu-verde .navbar-mobile-open .nav-item .nav-link{
        color: white;
    }
    .slider2{
        object-position: 95% 50%;
    }
    .slider4{
        object-position: 80% 50%;
    }
    .raya{
        border: 0px!important;
    }
}