@font-face {
    font-family: "cinzel-r";
    src: url("../font/cinzel/Cinzel-VariableFont_wght.ttf");
}
@font-face {
    font-family: "cinzel-b";
    src: url("../font/cinzel/static/Cinzel-Bold.ttf");
}
.cinzel{
    font-family: "cinzel-r";
}
.cinzel-bold{
    font-family: "cinzel-b";
}
nav{
    z-index: 5;
}
.carousel{
    z-index: 0;
}
footer{
    position: relative;
    z-index: 5;
    margin-top: 3rem;
}
.carousel-inner{
    height: 100vh;
}
#navbar-id{
    background-color: transparent!important;
    transition: all .2s;
}
.container-fluid{
    transition: all .2s;
}
.carousel-item img{
    object-fit: cover;
}
.proyectos .nav-item .nav-link, .verde-principal {
    color: #616d5b;
}
.footer-siguenos a{
    text-decoration: none;
}
/* Desktops and laptops ----------- */
@media only screen 
and (max-width : 768px) {
    /* Styles */
    #navbar-id.bg-dark.navbar-mobile-open{
        background-color: #606d5b!important;
        height: 100vh;
        z-index: 50;
    }
    .navbar>.container-fluid.navbar-container-mobile{
        height: 100%;
        align-items: flex-start;
    }
    .navbar-close-button{
        margin-top: 20vh;
    }
    footer{
        margin-top: 1rem;
    }
    .carousel-inner{
        height: 100vh;
    }
    .footer-info{
        order: 1;
    }
    .footer-info p{
        font-size: 0.9rem;
        color: #e5e5e5!important;
    }
    .footer-direccion{
        order: 2;
    }
    .footer-direccion p{
        font-size: 0.9rem;
        color: #e5e5e5!important;
    }
    .footer-siguenos{
        order: 0;
        font-size: 1.2rem;
    }
    .footer-empresa{
        order: 3;
        position: relative;
        font-size: 0.8rem;
    }
    .footer-derechos{
        order: 4;
    }
    .footer-derechos p, .footer-derechos small{
        font-size: 0.8rem;
        color: #e5e5e5!important;
    }
    .footer-empresa:after{
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 70%;
        height: 1px;
        background-color: #616d5b;
    }
    #navbar-id::after{
        content: "";
        position: absolute;
        display: block;
        width: calc(100% - 52px);
        height: 1px;
        background-color: white;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }
    .proyectos-titulo{
        justify-content: center!important;
    }
    .proyectos-secciones{
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
    }
    .navbar-mobile-open{
        position: fixed!important;
    }
    .body-mobile-open{
        position: fixed;
    }
    .proyectos .navbar-mobile-open .nav-item .nav-link{
        color: white;
    }
    .slider2{
        object-position: 95% 50%;
    }
    .slider4{
        object-position: 80% 50%;
    }
}